/Class-Accessor-TrackDirty-*
/.build
/_build*
/Build
/.*
!.git*
!.shipit
!.dimconfig
!.travis.yml
inc/
*.o
*.obj
*.bs
*.def
Build
*blib
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
!META.json
