Class-Accessor-TrackDirty-*
.*
!.git*
!.shipit
!.dimconfig
!.travis.yml
inc/
*.o
*.obj
*.bs
*.def
Build
_build/*
*blib
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
